var(--color--primary) = hsl(30deg, 100%, 35%)
var(--color--primary)--DARK = red
$INTERACTION__COLOR--SPOT = hsl(30deg, 100%, 50%)
$INTERACTION__COLOR--SPOT--LIGHT = #ffd3b5
$INTERACTION__COLOR--ERROR = #ff0000
$INTERACTION__COLOR--WAITING = #eee
$INTERACTION__COLOR--PROCESSING = #ccc
$INTERACTION__COLOR--SUCCESS = #55bb55
$INTERACTION__COLOR--NEUTRAL = lighten(#999, 30)
$INTERACTION__COLOR--NEUTRAL--LIGHT = lighten(#999, 10)
$INTERACTION__COLOR--NEUTRAL--DARK = darken(#999, 50)
$COLOR__KFB__BLUE ?= #2174a8
$kfb_gray ?= #757575
$kfb_yellow ?= #edc500
$kfb_gray_light ?= #eee
$kfb_gray_dark ?= #666
$kfb_red ?= #c53228
$kfb_green ?= #009900

$CONFIG__COLOR()
  :root
    --interaction__color--error red
    --interaction__color--spot $INTERACTION__COLOR--SPOT
    --color--primary $INTERACTION__COLOR--SPOT
    --color-bg__page #eee // hsl(30, 100%, 0%)
    --color-fg__text #333
    --color-fg__link hsl(30deg, 100%, 30%)
    --color-bg__ui hsl(0, 0, 20%)
    --color-fg__ui hsl(0, 0, 100%)
    --color-bg__ui--hoverable hsl(30deg, 30%, 97%)
    --color-fg__ui--hoverable #333
    --color-bg__ui--hover hsl(30deg, 30%, 90%)
    --color-fg__ui--hover #333
    --color-bg__ui--active hsl(30deg, 100%, 85%)
    --color-fg__ui--active #111
    --color-bg__ui--depth-1 hsl(0, 0, 0)
    --color-bg__ui--depth-2 hsl(0, 0, 0)
    --color-bg__ui--depth-3 hsl(0, 0, 10%)
    --color-bg__ui--depth-4 hsl(0, 0, 20%)
