// PAGE
$PRINT__BASELINE_HEIGHT = 14px
$PRINT__PAGE__BLEED = 11px // 3mm
$PRINT__PAGE__WIDTH = 794px // 210mm @ 72dpi
$PRINT__PAGE__HEIGHT = 794px // 210mm @ 72dpi
$PRINT__COLUMN_COUNT = 12
$PRINT__ROW_COUNT = 12
$PRINT__COLUMN_WIDTH_IN_BASELINES = 3
$PRINT__ROW_HEIGHT_IN_BASELINES = 3
$PRINT__COLUMN_GAP_WIDTH_IN_BASELINES = 1
$PRINT__ROW_GAP_IN_BASELINES = 1
$PRINT__COLUMN_WIDTH = $PRINT__COLUMN_WIDTH_IN_BASELINES * $PRINT__BASELINE_HEIGHT
$PRINT__COLUMN_GAP_WIDTH = $PRINT__COLUMN_GAP_WIDTH_IN_BASELINES * $PRINT__BASELINE_HEIGHT
$PRINT__GRID__WIDTH = ($PRINT__COLUMN_COUNT * $PRINT__COLUMN_WIDTH_IN_BASELINES + ($PRINT__COLUMN_COUNT - 1) * $PRINT__COLUMN_GAP_WIDTH_IN_BASELINES) * $PRINT__BASELINE_HEIGHT
$PRINT__PAGE__MARGIN__HORIZONTAL = (($PRINT__PAGE__WIDTH - $PRINT__GRID__WIDTH) / 2)
$PRINT__GRID__HEIGHT = ($PRINT__ROW_COUNT * $PRINT__COLUMN_WIDTH_IN_BASELINES + ($PRINT__ROW_COUNT - 1) * $PRINT__COLUMN_GAP_WIDTH_IN_BASELINES) * $PRINT__BASELINE_HEIGHT
$PRINT__PAGE__MARGIN__TOP ?= $PRINT__PAGE__MARGIN__HORIZONTAL
$PRINT__PAGE__MARGIN__LEFT ?= $PRINT__PAGE__MARGIN__HORIZONTAL
$PRINT__PAGE__MARGIN__RIGHT ?= $PRINT__PAGE__MARGIN__HORIZONTAL
$PRINT__PAGE__MARGIN__BOTTOM ?= $PRINT__PAGE__HEIGHT - $PRINT__GRID__HEIGHT - $PRINT__PAGE__MARGIN__HORIZONTAL
$PRINT__SPREAD__WIDTH = 2 * $PRINT__PAGE__WIDTH
$PRINT__SPREAD__HEIGHT = $PRINT__PAGE__WIDTH
$PRINT__SPREAD-WITH-BLEED__WIDTH = 2 * $PRINT__PAGE__BLEED + $PRINT__SPREAD__WIDTH
$PRINT__SPREAD-WITH-BLEED__HEIGHT = 2 * $PRINT__PAGE__BLEED + $PRINT__SPREAD__HEIGHT

$VARIABLES__LAYOUT--PRINT()
  --spread-with-bleed__width $PRINT__SPREAD-WITH-BLEED__WIDTH
  --spread-with-bleed__height $PRINT__SPREAD-WITH-BLEED__HEIGHT
  --spread__width $PRINT__SPREAD__WIDTH
  --spread__height $PRINT__SPREAD__HEIGHT
  --page--bleed $PRINT__PAGE__BLEED
  --page__width $PRINT__PAGE__WIDTH
  --page__height $PRINT__PAGE__HEIGHT
  --grid__column-count var(--grid__column-count)
  --grid__row-count $PRINT__ROW_COUNT
  --grid__column-width-in-baselines $PRINT__COLUMN_WIDTH_IN_BASELINES
  --page__column-width $PRINT__COLUMN_WIDTH
  --grid__column-gap-in-baselines $PRINT__COLUMN_GAP_WIDTH_IN_BASELINES
  --grid__row-height-in-baselines $PRINT__ROW_HEIGHT_IN_BASELINES
  --grid__row-gap-in-baselines $PRINT__ROW_GAP_IN_BASELINES
  --page__column-gap-width $PRINT__COLUMN_GAP_WIDTH
  --page__margin $PRINT__PAGE__MARGIN__HORIZONTAL
  --page__margin__x $PRINT__PAGE__MARGIN__HORIZONTAL
  --page__margin__y $PRINT__PAGE__MARGIN__HORIZONTAL
  --page__margin-bottom $PRINT__PAGE__MARGIN__BOTTOM
  --page__grid__width $PRINT__GRID__WIDTH
  --page__grid__height $PRINT__GRID__HEIGHT
  --pagedjs-baseline-color rgba(black, 1)
  --pagedjs-width: $PRINT__PAGE__WIDTH + 2 * $PRINT__PAGE__BLEED
  --pagedjs-height: $PRINT__PAGE__WIDTH + 2 * $PRINT__PAGE__BLEED
  --pagedjs-pagebox-width $PRINT__PAGE__WIDTH
  --pagedjs-pagebox-height $PRINT__PAGE__WIDTH
  --pagedjs-bleed $PRINT__PAGE__BLEED
  --pagedjs-margin $PRINT__PAGE__MARGIN__TOP $PRINT__PAGE__MARGIN__RIGHT $PRINT__PAGE__MARGIN__BOTTOM $PRINT__PAGE__MARGIN__LEFT
  --pagedjs-margin-left $PRINT__PAGE__MARGIN__LEFT
  --pagedjs-margin-right $PRINT__PAGE__MARGIN__RIGHT
  --pagedjs-margin-top $PRINT__PAGE__MARGIN__TOP
  --pagedjs-margin-bottom $PRINT__PAGE__MARGIN__BOTTOM

$CONFIG__LAYOUT--PRINT()
  @media print
    :root
      $VARIABLES__LAYOUT--PRINT()
