// code
$PAGE-NUMBER-DISPLAY ?= none;
$FONT-FAMILY--BODY ?= 'Barlow Semi Condensed', sans-serif;
$FONT-BASELINE ?= 0.1;
$FONT_WEIGHT__BOLD ?= 600;
$FONT_WEIGHT__LIGHT ?= 300;
$FONT_WEIGHT__REGULAR ?= 400;
// SCREEN
$SCREEN__BASELINE-HEIGHT ?= 28px;
$SCREEN__TEXT__FONT_SIZE__XXSMALL ?= 10px;
$SCREEN__TEXT__FONT_SIZE__XSMALL ?= 13px;
$SCREEN__TEXT__FONT_SIZE__SMALL ?= 16px;
$SCREEN__TEXT__FONT_SIZE__REGULAR ?= 20px;
$SCREEN__TEXT__FONT_SIZE__LARGE ?= 28px;
$SCREEN__TEXT__FONT_SIZE__XLARGE ?= 28px;
$SCREEN__TEXT__FONT_SIZE__XXLARGE ?= 28px * 2.4;

$PRINT__BASELINE-HEIGHT = 28px;
$SCALE = 1.333333;

$SCREEN2PRINT(value) {
  (round((value / 4 * 3 * 2)) / 2);
}

$PRINT__TEXT__FONT_SIZE__XXSMALL ?= $SCREEN2PRINT($SCREEN__TEXT__FONT_SIZE__XXSMALL);
$PRINT__TEXT__FONT_SIZE__XSMALL ?= $SCREEN2PRINT($SCREEN__TEXT__FONT_SIZE__XSMALL);
$PRINT__TEXT__FONT_SIZE__SMALL ?= $SCREEN2PRINT($SCREEN__TEXT__FONT_SIZE__SMALL);
$PRINT__TEXT__FONT_SIZE__REGULAR ?= $SCREEN2PRINT($SCREEN__TEXT__FONT_SIZE__REGULAR);
$PRINT__TEXT__FONT_SIZE__LARGE ?= $SCREEN2PRINT($SCREEN__TEXT__FONT_SIZE__LARGE);
$PRINT__TEXT__FONT_SIZE__XLARGE ?= $SCREEN2PRINT($SCREEN__TEXT__FONT_SIZE__XLARGE);

$VARIABLES__TYPOGRAPHY() {
  --font--baseline: $FONT-BASELINE;
  --font-family--body: $FONT-FAMILY--BODY, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-weight--bold: $FONT_WEIGHT__BOLD;
  --font-weight--light: $FONT_WEIGHT__LIGHT;
  --font-weight--regular: $FONT_WEIGHT__REGULAR;
}

$VARIABLES__TYPOGRAPHY--SCREEN() {
  --baseline-height: $SCREEN__BASELINE-HEIGHT;
  $set-baselined-typography(
    'caption-md',
    $SCREEN__TEXT__FONT_SIZE__SMALL,
    $SCREEN__BASELINE-HEIGHT * 0.75,
    1,
    0,
    0,
    $FONT-BASELINE
  );
  $set-baselined-typography('body-xxs', $SCREEN__TEXT__FONT_SIZE__XXSMALL, $SCREEN__BASELINE-HEIGHT, 0.5, 0.5, 0, $FONT-BASELINE);
  $set-baselined-typography('body-xs', $SCREEN__TEXT__FONT_SIZE__XSMALL, $SCREEN__BASELINE-HEIGHT, 0.5, 0.5, 0, $FONT-BASELINE);
  $set-baselined-typography('body-xs', $SCREEN__TEXT__FONT_SIZE__XSMALL, $SCREEN__BASELINE-HEIGHT, 0.5, 0.5, 0, $FONT-BASELINE);
  $set-baselined-typography('body-sm', $SCREEN__TEXT__FONT_SIZE__SMALL, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE);
  $set-baselined-typography('body-md', $SCREEN__TEXT__FONT_SIZE__REGULAR, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE);
  $set-baselined-typography('body-lg', $SCREEN__TEXT__FONT_SIZE__LARGE, $SCREEN__BASELINE-HEIGHT, 1, 1, 0, $FONT-BASELINE);
  
  $set-baselined-typography('body-xl', $SCREEN__TEXT__FONT_SIZE__XLARGE, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE);
  $set-baselined-typography('body-xxl', $SCREEN__TEXT__FONT_SIZE__XXLARGE, $SCREEN__BASELINE-HEIGHT, 2, 0, 0, $FONT-BASELINE);

}


$VARIABLES__TYPOGRAPHY--PRINT() {
  --baseline-height: $PRINT__BASELINE-HEIGHT;
  $set-baselined-typography(
    'caption-md',
    $PRINT__TEXT__FONT_SIZE__SMALL,
    $PRINT__BASELINE-HEIGHT * 0.8,
    1,
    0,
    0,
    $FONT-BASELINE
  );
  $set-baselined-typography('body-xxs', $PRINT__TEXT__FONT_SIZE__XXSMALL, $PRINT__BASELINE-HEIGHT, 0.75, 0.5, 0, $FONT-BASELINE);
  $set-baselined-typography('body-xs', $PRINT__TEXT__FONT_SIZE__XSMALL, $PRINT__BASELINE-HEIGHT, 0.75, 0.5, 0, $FONT-BASELINE);
  $set-baselined-typography('body-sm', $PRINT__TEXT__FONT_SIZE__SMALL, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE);
  $set-baselined-typography('body-md', $PRINT__TEXT__FONT_SIZE__REGULAR, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE);
  $set-baselined-typography('body-lg', $PRINT__TEXT__FONT_SIZE__LARGE, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE);
  $set-baselined-typography('body-xl', $PRINT__TEXT__FONT_SIZE__XLARGE, $PRINT__BASELINE-HEIGHT, 2, 0, 2, $FONT-BASELINE);
}



$CONFIG__TYPOGRAPHY() {
  :root {
    $VARIABLES__TYPOGRAPHY();
    font-size: var(--baseline-height);
  }

  @media screen {
    :root {
      $VARIABLES__TYPOGRAPHY--SCREEN();
    }
  }

  [data-print-preview='true'] {
    $VARIABLES__TYPOGRAPHY--PRINT();
  }
}
