$MAX_CONTEN_WIDTH = 700px
$MAX_CONTEN_WIDTH--XL = 1050px
$MAX_FORM_CONTAINER__NARROW__WIDTH = 480px
$SCREEN__BASELINE_HEIGHT = 24px
$SCREEN__PAGE__BLEED = 11px // 3mm
$SCREEN__PAGE__WIDTH = 794px // 210mm @ 72dpi
$SCREEN__PAGE__HEIGHT = 794px // 210mm @ 72dpi
$SCREEN__COLUMN_COUNT = 12
$SCREEN__ROW_COUNT = 12
$SCREEN__COLUMN_WIDTH_IN_BASELINES = 3
$SCREEN__ROW_HEIGHT_IN_BASELINES = 3
$SCREEN__COLUMN_GAP_WIDTH_IN_BASELINES = 1
$SCREEN__ROW_GAP_IN_BASELINES = 1
$SCREEN__COLUMN_WIDTH = $SCREEN__COLUMN_WIDTH_IN_BASELINES * $SCREEN__BASELINE_HEIGHT
$SCREEN__COLUMN_GAP_WIDTH = $SCREEN__COLUMN_GAP_WIDTH_IN_BASELINES * $SCREEN__BASELINE_HEIGHT
$SCREEN__GRID__WIDTH = ($SCREEN__COLUMN_COUNT * $SCREEN__COLUMN_WIDTH_IN_BASELINES + ($SCREEN__COLUMN_COUNT - 1) * $SCREEN__COLUMN_GAP_WIDTH_IN_BASELINES) * $SCREEN__BASELINE_HEIGHT
$SCREEN__PAGE__MARGIN__HORIZONTAL = (($SCREEN__PAGE__WIDTH - $SCREEN__GRID__WIDTH) / 2)
$SCREEN__GRID__HEIGHT = ($SCREEN__ROW_COUNT * $SCREEN__COLUMN_WIDTH_IN_BASELINES + ($SCREEN__ROW_COUNT - 1) * $SCREEN__COLUMN_GAP_WIDTH_IN_BASELINES) * $SCREEN__BASELINE_HEIGHT
$SCREEN__PAGE__MARGIN__TOP ?= $SCREEN__PAGE__MARGIN__HORIZONTAL
$SCREEN__PAGE__MARGIN__LEFT ?= $SCREEN__PAGE__MARGIN__HORIZONTAL
$SCREEN__PAGE__MARGIN__RIGHT ?= $SCREEN__PAGE__MARGIN__HORIZONTAL
$SCREEN__PAGE__MARGIN__BOTTOM ?= $SCREEN__PAGE__HEIGHT - $SCREEN__GRID__HEIGHT - $SCREEN__PAGE__MARGIN__HORIZONTAL
$SCREEN__SPREAD__WIDTH = 2 * $SCREEN__PAGE__WIDTH
$SCREEN__SPREAD__HEIGHT = $SCREEN__PAGE__WIDTH
$SCREEN__SPREAD-WITH-BLEED__WIDTH = 2 * $SCREEN__PAGE__BLEED + $SCREEN__SPREAD__WIDTH
$SCREEN__SPREAD-WITH-BLEED__HEIGHT = 2 * $SCREEN__PAGE__BLEED + $SCREEN__SPREAD__HEIGHT

$CONFIG__LAYOUT--SCREEN()
  :root
    --grid__column-count $SCREEN__COLUMN_COUNT
    --grid__row-count $SCREEN__ROW_COUNT
    --grid__column-width-in-baselines $SCREEN__COLUMN_WIDTH_IN_BASELINES
    --page__column-width $SCREEN__COLUMN_WIDTH
    --grid__column-gap-in-baselines $SCREEN__COLUMN_GAP_WIDTH_IN_BASELINES
    --grid__row-height-in-baselines $SCREEN__ROW_HEIGHT_IN_BASELINES
    --grid__row-gap-in-baselines $SCREEN__ROW_GAP_IN_BASELINES
    --page__column-gap-width $SCREEN__COLUMN_GAP_WIDTH
    --padding__x 0.5 * $SCREEN__BASELINE-HEIGHT
    --padding__y 0 * $SCREEN__BASELINE-HEIGHT
    --page__margin__x 0.5 * $SCREEN__BASELINE-HEIGHT
    --page__margin__y 1 * $SCREEN__BASELINE-HEIGHT
    --page__margin__bottom 3 * $SCREEN__BASELINE-HEIGHT

    +mq--gte-sm()
      --page__margin__x 0.5 * $SCREEN__BASELINE-HEIGHT
      --padding__y 1 * $SCREEN__BASELINE-HEIGHT
      --padding__x 1 * $SCREEN__BASELINE-HEIGHT

    +mq--gte-md()
      --page__margin__x 1 * $SCREEN__BASELINE-HEIGHT
      --page__margin__y 1 * $SCREEN__BASELINE-HEIGHT

    +mq--gte-lg()
      --page__margin__x 1 * $SCREEN__BASELINE-HEIGHT
      --page__margin__y 1 * $SCREEN__BASELINE-HEIGHT

    +mq--gte-xl()
      --page__margin__x 2 * $SCREEN__BASELINE-HEIGHT
      --page__margin__y 1 * $SCREEN__BASELINE-HEIGHT
      --padding__x 2 * $SCREEN__BASELINE-HEIGHT
      --padding__y 2 * $SCREEN__BASELINE-HEIGHT
