@import './mixins/'

.table-container
  width 100%

table.md
  margin-top $bl(2)
  margin-bottom $bl(1)
  
  border-collapse collapse
  background-color white

th.md, td.md
  line-height $bl(1)
  $border-top()

caption
  padding-right $bl(0.5)
  text-align right
  font-size var(--font-size--body-sm)

tr.md
  max-width 100%

th.md, td.md
  padding-right $bl(1)

th.md
  text-transform uppercase
  letter-spacing 0.05em
  font-weight var(--font-weight--bold)
  font-size var(--font-size--body-xs)

td.md
  position relative
  margin-top -1px
  background-color rgba(black, 0)
  font-size var(--font-size--body-sm)

tr.md:nth-child(2n+1) td
  background-color rgba(black, 0.05)

.table-column--expand
  width $bl(2)

td.md.w-25
  width 25%

td.md.w-50
  width 50%

td.md.w-75
  width 759%

td.md.w-99
  width 99%

td.md.nw
  white-space nowrap

.aligned--right
  text-align right

tr.md.hoverable:hover td
  background-color var(--interaction__color--hover-on)
  cursor pointer

$table__td--group()
  padding-top $bl(2)
  background-color transparent

  > div
    $baselined-typography(body-lg)
    font-weight var(--font-weight--bold)

tr.table__tr--group td, .dc-table-group td
  $table__td--group()
