@import './mixins/';

section.md {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

h2.md, h3.md, h4.md, p.md, li.md {

  color: var(--color-text-base);
}

img.md {
  width: 100% font-family 'Barlow Semi Condensed';
}

p.md {
  $baselined-typography(body-md);
}

h1.md, h2.md {
  $baselined-typography(body-md);
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);
}

h3.md {
  $baselined-typography(body-md);
  font-style: italic;
}

h4.md {
  $baselined-typography(body-md);
  text-transform: none;
  font-style: italic;
  font-family: 'Barlow Semi Condensed';
}

hr.md {
  margin: 0;
  padding: 0;
  height: $bl(1);
  border: 0;
}


ul.md, ol.md {
  $baselined-typography(body-md);
  position: relative;
  margin-left: $bl(1);

  p.md {
    top: 0;
    margin: 0;
    padding: 0;
  }
}

ul.md.small, ol.md.small {
  $baselined-typography(body-sm);
  position: relative;
  margin-left: $bl(1);

  p.md {
    top: 0;
    margin: 0;
    padding: 0;
  }
}

ul.md, ol.md {
  ul.md, ol.md {
    top: 0;
  }
}

blockquote.md {
  margin: 1rem 0
  padding 0 .5rem
  background linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), #eee
  font-style: italic;
  cite {
    text-align: right;
  }

  cite > .bib-ref {
    $baselined-typography(body-sm);
    display: inline;
  }

  > ul.md, > ol.md {
    $baselined-typography(body-md);
  }

  > cite.md {
    $baselined-typography(body-sm);
    // text-align: right;
    display: block;
  }
}

ul.md li:before {
  position: absolute;
  left: calc(-1 * var(--baseline-height));
  display: inline-block;
  width: $bl(1);
  content: '—';
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  // font-family Arial
}

ol.md {
  counter-reset: ol-counter;

  li {
    counter-increment: ol-counter;
    position: relative;
  }

  li:before {
    position: absolute;
    left: calc(-1 * var(--baseline-height));
    display: inline-block;
    width: $bl(0.5);
    content: counter(ol-counter);
    content: counter(ol-counter, decimal);
    text-align: left;
    font-weight: var(--font-weight--bold);
    font-variant: small-caps;
    opacity: 0.8;
  }
}

figcaption.md, .caption {
  font-weight: var(--font-weight--bold);
  $baselined-typography(caption-sm);
}

.small {
  $baselined-typography(body-sm);
}

.large {
  $baselined-typography(body-md);
  font-weight: var(--font-weight--bold);
}

.center figcaption {
  text-align: center;
}

.footnote-ref {
  position: relative;
  top: -5px;
  font-size: var(font-size--body-xs);
  opacity: 0.5;
}

.footnote-backref {
  display: none;
}

.footnote-item, .footnote-item p {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;

  span.inline {
    border: none;
    background-color: transparent;
  }
}

.footnote-item p {
  background-color: rgba(white, 0.8);
}

figure.level1 {
  margin: $bl(0.5) 0;
  padding: $bl(1) $bl(1);
  padding-bottom: $bl(1);

  +mq--gte-md() {
    margin: $bl(1) 0;
  }

  overflow: scroll;
  max-width: calc(100vw - 1 * var(--padding__x));
  // background-image linear-gradient(0, #f0f0f0 48.08%, #ccc 48.08%, #ccc 50%, #f0f0f0 50%, #f0f0f0 98.08%, #ccc 98.08%, #ccc 100%)
  // background-size 100% $bl(1)
  background-color: #eee;

  > p {
    $baselined-typography(body-sm);
  }

  figcaption {
    p {
      font-weight: var(--font-weight--bold);
      $baselined-typography(body-md);
      text-transform: uppercase;
    }
  }
}

.line-numbers-mode {
  .line-numbers {
    display: none;
  }
}

.bib-ref__error {
  color: red;
}

.bib-ref__citation {
  // font-weight: bold;
  text-decoration: underline dotted;
  color: black;
}

.bib-ref__container .bib-ref__citation, .bib-ref__container .bib-ref__bibliography {
  background-color: var(--color-hoverable);
  cursor: pointer;
  display: inline;
}

.bib-ref__container {
  background-color: var(--color-hoverable);
}

.bib-ref__container .bib-ref__citation {
  display: inline;
}

.bib-ref__container .bib-ref__bibliography {
  display: none;
}

.bib-ref__container.open .bib-ref__citation {
  display: none;
}

.bib-ref__container.open .bib-ref__bibliography {
  display: inline;
}

.csl-bib-body, .csl-entry {
  display: inline;
}



ul.bib-list li:before {
  display: none !important
}



cite {
  line-height: 3;
  text-align: left;
}
