@import './config/index.styl';
// @import './mixins/index.styl'
// @import './fonts/barlow-baselined/stylesheet.css';
@import './reset.styl';
@import './root.styl';

$CONFIG__COLOR();
$CONFIG__TYPOGRAPHY();
$CONFIG__UI();
$CONFIG__LAYOUT--PRINT();
$CONFIG__LAYOUT--SCREEN();

@import './layout.styl';
@import './layout__debug.styl';
@import './content__block.styl';
@import './content__inline.styl';
@import './content__table.styl';

// @import './prism.styl'
// @import './print.styl'
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-print-color-adjust: exact;
}

body {
  transition: background-color  1s;
  
  background-color: var(--color-background);
  background: linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), var(--color-background);
  background-size: 100% 1rem, 100% 5rem, 100% 100%;
  color: var(--color-text-base);
}

.layout__main {
  position: relative;
  max-width: 32rem;
  margin: 0 auto;
  transition: 200ms;
}

#sun-svg, html[data-theme='dark'] #moon-svg {
  display: none;
}

#moon-svg, html[data-theme='dark'] #sun-svg {
  display: block;
}

#main-content {
}

.button-container {
  height: 2rem;
  width: 2rem;
  background-color: red;
  overflow: hidden;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.bib-list {
  columns: 1;
}

.csl-entry {
  display: inline;
}

.csl-entry a {
  word-break: break-word;
}

.body-sm {
  $baselined-typography(body-sm);
}

.body-md {
  $baselined-typography(body-md);
}

.body-lg {
  $baselined-typography(body-lg);
}

.body-xl {
  $baselined-typography(body-xl);
}

.body-xxl {
  $baselined-typography(body-xxl);
}


a {
  color: var(--color-text-base);
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: var(--font-weight--bold);
}

.uppercase {
  text-transform: uppercase;
}

.article-preview {
  padding-top: 0rem;
  $border-top(0,   0.25rem);
}

#strategy-aspects {
  thead th {
    width: $bl(2);
  }

  div.rotate {
    position: absolute;
    transform: rotate(90deg);
    // transform-origin: 0% 100%;
    line-height: 0.5rem;
    width: 4rem;
  }

  .aspect {
    border-left: 1px dotted black;
    // text-align: center
    padding: 0;
  }

  .icon-true {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='icon__true'%3E%3Cpath fill='green' d='M256 48C141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208S370.4 48 256 48zm-42.7 318.9L106.7 260.3l29.9-29.9 76.8 76.8 162.1-162.1 29.9 29.9-192.1 191.9z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.75rem;
    background-position: 50%;
  }

  .icon-false {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='red' d='M256 48C140.559 48 48 140.559 48 256c0 115.436 92.559 208 208 208 115.435 0 208-92.564 208-208 0-115.441-92.564-208-208-208zm104.002 282.881l-29.12 29.117L256 285.117l-74.881 74.881-29.121-29.117L226.881 256l-74.883-74.881 29.121-29.116L256 226.881l74.881-74.878 29.12 29.116L285.119 256l74.883 74.881z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.75rem;
    background-position: 50%;
  }
}

li.bib-item {
  position: relative;
  margin-left: 28px;
}

li.bib-item .icon {
  width: 28px;
  position: absolute;
  left: -21px;
}