@import './config/index.styl';
// @import './mixins/index.styl'
// @import './fonts/barlow-baselined/stylesheet.css';
@import './reset.styl';
@import './root.styl';

$CONFIG__COLOR();
$CONFIG__TYPOGRAPHY();
$CONFIG__UI();
$CONFIG__LAYOUT--PRINT();
$CONFIG__LAYOUT--SCREEN();

@import './layout__debug.styl';
@import './content__block.styl';
@import './content__inline.styl';
@import './content__table.styl';

// @import './prism.styl'
// @import './print.styl'
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-print-color-adjust: exact;
}

body {
  background-color: var(--color-background);
  background: linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), var(--color-background);
  background-size: 100% 1rem, 100% 5rem, 100% 100%;
}

.layout__main {
  position: relative;
  max-width: 32rem;
  margin: 0 auto;
  transition: 200ms;
}

#sun-svg, html[data-theme='dark'] #moon-svg {
  display: none;
}

#moon-svg, html[data-theme='dark'] #sun-svg {
  display: block;
}

#main-content {
}

.button-container {
  height: 2rem;
  width: 2rem;
  background-color: red;
  overflow: hidden;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.bib-list {
  columns: 1;
}

.csl-entry a {
  word-break: break-word;
}

.body-sm {
  $baselined-typography(body-sm);
}

.body-md {
  $baselined-typography(body-md);
}

.body-lg {
  $baselined-typography(body-lg);
}

.body-xl {
  $baselined-typography(body-xl);
}

.body-xxl {
  $baselined-typography(body-xxl);
}

a {
  color: black;
}