[data-debug='false']
  .debug-only
    visibility hidden

[data-debug='true']
  .debug-only
    visibility visible

  .layout__main:before
    position absolute
    z-index 1000
    display block
    height 500vh
    width 100vw


    +mq--lte-sm()
      border-right rgba(gray, 0.5) calc(var(--page__margin__x)) solid

    background linear-gradient(to bottom, hsla(280, 100%, 0, 0.2), hsla(280, 100%, 100%, 0.2) 1px, transparent 1px, transparent), linear-gradient(to bottom, transparent 0, transparent calc(var(--grid__row-height-in-baselines) * var(--baseline-height)), rgba(red, 0.1) 0, rgba(red, 0.1) 1px), linear-gradient(to right, hsla(280, 100%, 0, 0.2), hsla(280, 100%, 100%, 0.2) 1px, transparent 1px, transparent), linear-gradient(to right, transparent 0, transparent calc(var(--grid__row-height-in-baselines) * var(--baseline-height)), rgba(green, 0.1) 0, rgba(green, 0.1) 1px)
    background-position-x 0 // var(--page__margin__x)
    background-position-y 0 // var(--page__margin__y)
    background-size 24px var(--baseline-height), 100% calc((var(--grid__row-height-in-baselines) + var(--grid__column-gap-in-baselines)) * var(--baseline-height)), var(--baseline-height) 100%, calc((var(--grid__column-width-in-baselines) + var(--grid__row-gap-in-baselines)) * var(--baseline-height)) 100%
    box-shadow 0 0 0 1px rgba(black, 2.5)
    content ' '
    pointer-events none
