//
//.layout
//  position relative
//
//.layout__main
//  min-height 100vh
//
//.layout__sidebar
//  z-index $UI__SIDEBAR__Z_INDEX
//
//.layout__navbar
//  z-index $UI__NAVBAR__Z_INDEX
//
////+mq--lte-sm()
////  .layout__sidebar
////    position fixed
////    right 0
////    top 0
////    bottom 0
////    left 0
////    transition transform 200ms
////    transform translateY(100vh)
////
////  .layout__navbar
////    position fixed
////    right 0
////    bottom 0
////    bottom -webkit-fill-available
////    left 0
////
////  .layout[data-sidebar='SIDEBAR__VISIBLE']
////    .layout__sidebar
////      transform translateY(0vh)
////      transition transform 200ms
//
//+mq--gte-md()
//  //.layout--with-dc-explorer
//  //  details
//  //    margin-left var(--page__margin__x)
//  //
//  //  .vue-dc-explorer .vue-dc-explorer__tiles
//  //    margin-left calc(-1 * var(--ui__bib-filter__width))
//  //
//  //  .layout__main
//  //    width 100%
//  //    background-color red
//  //    .page
//  //      padding-right 0
//  //      padding-left var(--ui__bib-filter__width)
//  //
//  //    .page__header
//  //      padding-left var(--page__margin__x)
//  //
//  //
//
//  .layout__main
//    width calc(100vw - 2 * var(--ui__sidebar__width))
//
//  .layout__sidebar
//    position fixed
//    top 0
//    right 0
//    width calc(var(--ui__sidebar__width))
//
//  .layout__navbar
//    position fixed
//    right 0
//    bottom $bl(0)
//    width calc(1 * var(--ui__sidebar__width))
//
//  .layout[data-sidebar=SIDEBAR_VISIBLE]
//    .layout__main
//      transition 200ms
//      width calc(100vw - var(--ui__sidebar__width) - 2*var(--ui__sidebar__width--compact))
//
//    .layout__sidebar, .layout__navbar
//      transition 200ms
//      transform translateX(calc(var(--ui__sidebar__width) - var(--ui__sidebar__width--compact)))
//
//    .layout__sidebar:hover, .layout__navbar:hover
//      transition 200ms
//      transform translateX(calc(0 * var(--ui__sidebar__width) + 0 * var(--ui__sidebar__width--compact)))
//body
//  background linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), linear-gradient(to bottom, hsla(280, 100%, 0, 0.1), hsla(280, 100%, 100%, 0.1) 1px, transparent 1px, transparent), #eee
//  background-color var(--color-bg__page)
//  background-size 100% $bl(0.5), 100% $bl(1), 100% 100%
//
//.layout--screen-view
//  .page
//    min-height 100vh
