---
import Layout from "@layouts/Layout.astro";
import IssueList from "@components/IssuesList.astro";

import { getIssues } from "@utils/getIssues";

const issues = await getIssues();
const featuredIssues = issues;
---

<Layout>
  <section id="masthead" class="md">
    <div class="masthead__title body-xxl uppercase">
      Journal of <strong>Erratic&nbsp;Observations</strong>
    </div>
    <div class="masthead__tagline body-xl uppercase">
      <strong>observed</strong>, <strong>documented</strong>, and <strong
        >peer-reviewed</strong
      ><br>by&nbsp;<strong>Dirk&nbsp;Rathje</strong>&nbsp;in&nbsp;Hamburg
    </div>
  </section>

 

  {
    featuredIssues.length > 0 && (
      <section id="featured">
        <IssueList issues={featuredIssues} />
      </section>
    )
  }
</Layout>

<style lang="stylus">
  
  #masthead
    margin-bottom 1rem

  @media  (max-width: 800px) {
    
    #masthead {
      transform-origin: 0 0 ;
      transform: scale(.5)}
      }


</style>
