---
import Layout from "@layouts/Layout.astro"
import Header from "@components/Header.astro"
import IssueList from "@components/IssuesList.astro"
import Footer from "@components/Footer.astro"

import { getIssues } from "@utils/getIssues"

const issues = await getIssues()
const featuredIssues = issues
---

<Layout>
  <Header />
  <main id="main-content">
    <div id="masthead">
      <div class="masthead__title body-xxl">
        Journal of <strong>Erratic&nbsp;Observations</strong>
      </div>
      <div class="masthead__tagline body-xl">
        observed, written, and peer-reviewed by Dirk Rathje of Hamburg
      </div>
    </div>

    <!-- <p class="md large">
        J.Err.Obs., the Journal of Erratic Observations, publishes mini-reviews,
        experimental and observational studies, theoretical and computational
        analyses, case analyses, case studies and commentaries.
      </p> -->

    {
      featuredIssues.length > 0 && (
        <section id="featured">
          <IssueList issues={featuredIssues} />
        </section>
      )
    }
  </main>
  <Footer />
</Layout>

<style lang="stylus">


#masthead {
	border-top: 0.25rem solid black;
	border-bottom: 0.25rem solid black;
	margin-bottom: 0.75rem;
	padding: 4rem 0;
	// padding-bottom: 2rem;
	// height: 12rem;
}
.masthead__title {
  // font-weight: var(--font-weight--bold);
  font-style: italic;
  text-transform: uppercase;
	letter-spacing: 1px;
}

</style>
