---
import type { CollectionEntry } from "astro:content";

import { renderInline } from "@utils/markdown/render";

import BibList from "./BibList.astro";

export interface Props {
  article: CollectionEntry<"article">;
}
const { article } = Astro.props;
const { title, description, subtitle, issue } = article.data;

const { Content } = await article.render();
---

<article class="article" role="article">
  <header class="article-header">
    <h1
      class="article-title body-xl italic bold uppercase"
      set:html={renderInline(title)}
    />
    <p
      class="article-subtitle body-xl italic uppercase"
      set:html={renderInline(subtitle)}
    />
    <p
      class="article-abstract body-md bold mb-1"
      set:html={renderInline(description)}
    />
  </header>
  <div class="article-body">
    <Content />
  </div>
</article>

<style>

</style>