---
import { getReferences } from "@utils/getReferences"
import BibItem from "./BibItem.astro"

export interface Props {
  title?: string
  tag?: string
}
const { tag, title } = Astro.props

const references = await getReferences(tag)
---

{title && <h3 class="md">{title}</h3>}
<ul class="bib-list small">
  {
    references.map(reference => (
      <BibItem item={reference} />
      
    ))
  }
</ul>

