---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "")

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1)

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
// breadcrumbList[0] === "posts" &&
//   breadcrumbList.splice(0, 2, `Posts (page ${breadcrumbList[1] || 1})`)
---

<nav class="breadcrumb" aria-label="breadcrumb">
  <p>
    <ul>
      <li class="body-sm">
        <a href="/">Home</a>
      </li>
      {
        breadcrumbList.map((breadcrumb, index) => (
          <li class="body-sm">
            <a href={`/${breadcrumbList.slice(0, index + 1).join("/")}`}>
              {breadcrumb}
            </a>
          </li>
        ))
      }
    </ul>
  </p>

  <style>
    .breadcrumb ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    .breadcrumb li:after {
      content: ">";
      padding-right: 0.1rem;
    }
    .breadcrumb li:last-child a {
      text-decoration: none;
    }
    .breadcrumb li:last-child:after {
      content: "";
    }
  </style>
</nav>
