---
import { SITE } from "@config"

import jerrobsLogo from "@assets/jerrobs.svg"

export interface Props {
  activeNav?: "issues" | "tags" | "references" | "about" | "search"
}

const { activeNav } = Astro.props
---

<header>
  <a class="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <a href="/" class="logo">
      <img
        src={jerrobsLogo}
        class="jerrobs"
        height="28"
        width="138"
        alt="[logo] J. Err. Obs"
      />
    </a>

    <nav id="nav-menu">
      <!-- <button
        class="hamburger-menu focus-outline"
        aria-label="Open Menu"
        aria-expanded="false"
        aria-controls="menu-items"
      >
        <div class="icon-container flex">
          <div id="first-line"></div>
          <div id="second-line"></div>
          <div id="third-line"></div>
        </div>
      </button> -->
      <ul id="menu-items" class="body-md">
        <li>
          <a href="/issues" class={activeNav === "issues" ? "active" : ""}>
            Issues
          </a>
        </li>
        <!-- <li>
          <a href="/articles" class={activeNav === "articles" ? "active" : ""}>
            Articles
          </a>
        </li> -->

        <li>
          <a
            href="/references"
            class={activeNav === "references" ? "active" : ""}
          >
            References
          </a>
        </li>
        <li>
          <a href="/about" class={activeNav === "about" ? "active" : ""}>
            About
          </a>
        </li>
        <!-- <li>
          <LinkButton
            href="/search"
            className={`focus-outline p-3 sm:p-1 ${
              activeNav === "search" ? "active" : ""
            }`}
            ariaLabel="search"
            title="Search"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="scale-125 sm:scale-100"
              ><path
                d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
              ></path>
            </svg>
          </LinkButton>
        </li> -->
        <li>
          {
            SITE.lightAndDarkMode && (
              <button
                id="theme-btn"
                class="focus-outline"
                title="Toggles light & dark"
                aria-label="auto"
                aria-live="polite"
              >
                <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                  <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                  <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                </svg>
              </button>
            )
          }
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  // Toggle menu
  const menuBtn = document.querySelector(".hamburger-menu")
  const menuItems = document.querySelector("#menu-items")?.classList

  const iconContainer = document.querySelector(".icon-container")?.classList
  const firstLine = document.querySelector("#first-line")?.classList
  const secondLine = document.querySelector("#second-line ")?.classList
  const thirdLine = document.querySelector("#third-line")?.classList

  menuBtn?.addEventListener("click", function () {
    const menuExpanded = menuBtn?.getAttribute("aria-expanded")
    if (menuExpanded === "false") {
      menuBtn?.setAttribute("aria-expanded", "true")
      menuBtn?.setAttribute("aria-label", "Close Menu")
      menuItems?.remove("display-none")

      // icon animation
      iconContainer?.remove("flex")
      iconContainer?.add("relative")
      firstLine?.add("rotate-45", "absolute", "bottom-1/2")
      thirdLine?.add("display-none")
      secondLine?.add("!w-full", "-rotate-45", "absolute", "bottom-1/2")
    } else {
      menuBtn?.setAttribute("aria-expanded", "false")
      menuBtn?.setAttribute("aria-label", "Open Menu")
      menuItems?.add("display-none")

      // icon animation
      iconContainer?.add("flex")
      iconContainer?.remove("relative")
      firstLine?.remove("rotate-45", "absolute", "bottom-1/2")
      thirdLine?.remove("display-none")
      secondLine?.remove("!w-full", "-rotate-45", "absolute", "bottom-1/2")
    }
  })
</script>

<style lang="styl">
  button {
    height: 1rem;
    width: 1rem;
    padding: 0;
  }
  .nav-container {
    display: flex;
    // flex-direction: row;
    height: 3rem;
    // background-color: red;
    padding-top: 1rem;
    position relative
  }
  .nav-container:after {
    content: " "
    display: block;
    position absolute
    bottom 0
    background-color black
    width 100%
    height: .25rem;
    }
  .logo {
    flex-grow: 1;
  }

  img.jerrobs {
    height: 1rem;
    margin-top: 5px;
    }
  #menu-items {
    // flex-grow: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .menu-item li {
    // padding: 0 1rem;
  }

  a.skip-to-content {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }
  a.skip-to-content:focus,
  a.skip-to-content:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }

  .logo {
    // font-size: 8rem;
    overflow: hidden;
    text-decoration: none;
    font-style: italic;
    font-weight: 800;
  }
  #theme-btn svg {
    height: 1rem;
    width: 1rem;
    }
</style>
