---
import type { CollectionEntry } from "astro:content"
import IssuePreview from "@components/IssuePreview.astro"

export interface Props {
  issues: CollectionEntry<"issue">[]
}

const { issues } = Astro.props
---

{
  issues.length > 0 && (
    <>
      <div class="issues">
        {issues.map(issue => (
          <IssuePreview href={`/issues/${issue.slug}`} issue={issue} />
        ))}
      </div>
    </>
  )
}

<style>
  .issues {
        --auto-grid-min-size: 25rem;
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));

  }
</style>
