---
import type { CollectionEntry } from "astro:content"
import { renderInline } from "@utils/markdown/render"

export interface Props {
  issue: CollectionEntry<"issue">
  href: string
}

const { issue } = Astro.props

const title = renderInline(issue.data.title)
const subtitle = renderInline(issue.data.subtitle)
---

<div class="issue-preview" id={"issue-" +issue.slug}>
  <div class="issue-preview__body">
    <div class="issue-preview__header">
      <a href={`/issues/${issue.slug}`}>
        <h1 class="issue__title md" >
          <span set:html={title} />
        </h1>
        <p class="issue__subtitle" ><span set:html={subtitle}/></p>
      </a>
    </div>
    <ul class="issue__toc">
      <li class="issue__toc-item">
        <!-- <router-link class="issue__toc-item-section-number" :to="article.path" v-html="&quot;00&quot; + (article.frontmatter.sectionNumber || [article.frontmatter.sectionNumber]).slice(-1)"></router-link>
        <router-link class="issue__toc-item-title" :to="article.path"><span v-html="article.frontmatter.title__html"></span></router-link> -->
      </li>
    </ul>
  </div>
  
</div>

<style lang="stylus">
  .issue-preview {
    // box-shadow: 5px rgba(black, 1);
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    min-height: calc(8 * var(--baseline-height));
    // width: 40%;
    flex: 1 0 15rem;
    border rgba(white,.5) solid .5rem;
    padding .5rem;
    // margin .5rem;
    
    
    a {
    text-decoration: none;
    }
    &:hover a {
      text-decoration: underline;
      }
  }
  .issue-preview__body {
    flex: 5;
  }
  .issue-preview__footer {
    flex: 1%;
    background-color: #fff;
    position: relative;
  }
  .issue-preview__footer .taglines {
    left: calc((0.75) * var(--baseline-height));
  }
  .issue-preview__footer p {
    font-variant: all-small-caps;
    height: calc((0.5) * var(--baseline-height));
  }
  .issue__subtitle {
  $baselined-typography(body-lg);
  }
  .issue__title {
    font-weight: var(--font-weight--bold);
  // $baselined-typography(body-lg);
  }
.issue__subtitle, .issue__title  {
  span {
    background-color: white;;
  
  }}
  

  #issue-pathicles {
    background-image: url(/assets/cover__pathicles_cropped-lg.jpg);
    background-size:cover
    background-repeat:  no-repeat;
    }
  #issue-space {
    background-image: url(/assets/cover__space-lg.jpg);
    background-size:cover
    background-repeat:  no-repeat;
    }
  #issue-strategy {
    background-image: url(/assets/cover__strategy-lg.jpg);
    background-size:cover
    background-repeat:  no-repeat;
    }
</style>
