---
import type { CollectionEntry } from "astro:content";
import IssueListItem from "@components/IssueListItem.astro";

export interface Props {
  issues: CollectionEntry<"issue">[];
}

const { issues } = Astro.props;
---

{
  issues.length > 0 && (
    <>
      <div class="issues">
        {issues.map((issue) => (
          <IssueListItem href={`/issues/${issue.slug}`} issue={issue} />
        ))}
      </div>
    </>
  )
}

<style>
  .issues {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-gap: 1rem;
  }
</style>
