---
import type { CollectionEntry } from "astro:content"
import { renderInline } from "@utils/markdown/render"

export interface Props {
  issue: CollectionEntry<"issue">
  href: string
}

const { issue } = Astro.props

const title = renderInline(issue.data.title)
const subtitle = renderInline(issue.data.subtitle)
---

<div class="issue-preview" id={"issue-" + issue.slug}>
  <div class="issue-preview__body">
    <div class="issue-preview__header">
      <a href={`/issues/${issue.slug}`}>
        <h1 class="issue__title body-xl">
          <span set:html={title} />
        </h1>
        <p class="issue__subtitle body-lg"><span set:html={subtitle} /></p>
      </a>
    </div>
    <ul class="issue__toc">
      <li class="issue__toc-item">
        <!-- <router-link class="issue__toc-item-section-number" :to="article.path" v-html="&quot;00&quot; + (article.frontmatter.sectionNumber || [article.frontmatter.sectionNumber]).slice(-1)"></router-link>
        <router-link class="issue__toc-item-title" :to="article.path"><span v-html="article.frontmatter.title__html"></span></router-link> -->
      </li>
    </ul>
  </div>
</div>

<style lang="stylus">

.issue-preview {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  flex: 1 0 30rem;
  border: rgba(white, 1) solid 0.5rem;
  padding: 0.5rem 0;
  padding-top: 3rem;
}
  a {
    text-decoration: none;
  }

  .issue-preview:hover a {
    text-decoration: underline;
  }

  .issue-preview__body {
    flex: 1;
  }


  .issue__subtitle {
    $baselined-typography(body-md);
  }

  .issue__title {
    font-weight: var(--font-weight--bold);
    text-transform: uppercase;
    font-style: italic;
  }

.issue__subtitle,.issue__title {
  span {
    background-color: white;
    padding: 0 .5rem;
  }
}

#issue-pathicles {
  background-image: url('/assets/cover__pathicles_cropped-lg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#issue-space {
  background-image: url('/assets/cover__space-lg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#issue-strategy {
  background-image: url('/assets/cover__strategy-lg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
