---
import Breadcrumbs from "@components/Breadcrumbs.astro"

export interface Props {
  pageTitle: string
  pageDesc?: string
}

// const { pageTitle, pageDesc } = Astro.props
---

<Breadcrumbs />
<main id="main-content" class="layout__main">
  <slot />
</main>

<style></style>
