
$button()
  margin 0
  padding 0
  outline none
  border none
  font-size var(--font-size--body-md)
  font-family var(--font-family--body)
  $link()

$link()
  border none
  text-decoration none
  cursor pointer

  span
    padding 0 0.3em
    background-color var(--color-bg__ui--hoverable)
    background-image linear-gradient(90deg, var(--color-bg__ui--hoverable) 0, var(--color-bg__ui--hoverable) 50%, var(--color-bg__ui--hover) 50%, var(--color-bg__ui--hover) 100%)
    background-size 200%
    color black
    transition background-position 500ms cubic-bezier(0.47, 0.1, 1, 0.63), color 800ms

  &:hover
    span
      background-position -100% 100%
      transition background-position 100ms cubic-bezier(0.47, 0.1, 1, 0.63), color 200ms

  &.active
    span
      background-image linear-gradient(var(--color-bg__ui--active) 0, var(--color-bg__ui--active) 100%)
      color var(--color-fg__ui--active)
