$round($value) {
  (round($value * 100) / 100);
}

$set-baselined-typography($id = 'id', $font-size = 16px, $BASELINE-HEIGHT = 24px, $line-height = 1, $leading-top = 0, $leading-bottom = 0, $font--baseline = 0.5) {
  $relative-font-size = ($font-size / $BASELINE-HEIGHT);
  $baseline-from-bottom = ($line-height - $relative-font-size) / 2 + ($relative-font-size * $font--baseline);
  $corrected-baseline = round($baseline-from-bottom);
  $baseline-difference = $corrected-baseline - $baseline-from-bottom;

  if ($baseline-difference < 0) {
    $margin-top = $leading-top * $BASELINE-HEIGHT;
    $padding-top = - $baseline-difference * $BASELINE-HEIGHT;
    $padding-bottom = (1 + $baseline-difference) * $BASELINE-HEIGHT;
    $margin-bottom = ($leading-bottom - 0) * $BASELINE-HEIGHT;
  } else {
    $margin-top = ($leading-top - 1) * $BASELINE-HEIGHT;
    $padding-top = (1 - $baseline-difference) * $BASELINE-HEIGHT;
    $padding-bottom = $baseline-difference * $BASELINE-HEIGHT;
    $margin-bottom = $leading-bottom * $BASELINE-HEIGHT;
  }

  --margin--{$id}: $round($margin-top) 0 $round($margin-bottom) 0;
  --gap-top--{$id}: $round($padding-top);
  --font-size--{$id}: $round($relative-font-size * $BASELINE-HEIGHT);
  --line-height--{$id}: $line-height * $BASELINE-HEIGHT;
}

$baselined-typography(id = 'ID') {
  position: relative;
  top: s('var(--gap-top--%s)', id);
  margin: s('var(--margin--%s)', id);
  font-size: s('var(--font-size--%s)', id);
  line-height: s('var(--line-height--%s)', id);
}

$bl(n) {
  return s('calc(%s * var(--baseline-height))', n);
}

$bl--ui(n) {
  return s('calc(%s * var(--ui__baseline-height))', n);
}

$light() {
  font-weight: var(--font-weight--light);
}

$regular() {
  font-weight: var(--font-weight--regular);
}

$bold() {
  font-weight: var(--font-weight--bold);
}
